<nav class="package-nav" aria-label="Packages">
  <h2>All packages</h2>
  <ul>
    <li><a href="%BASE_URL%packages/firelight/">Firelight</a></li>
    <li><a href="%BASE_URL%packages/context/">Firelight.Context</a></li>
    <li><a href="%BASE_URL%packages/elmish/">Firelight.Elmish</a></li>
    <li><a href="%BASE_URL%packages/router/">Firelight.Router</a></li>
    <li><a href="%BASE_URL%packages/signals/">Firelight.Signals</a></li>
    <li><a href="%BASE_URL%packages/motion/">Firelight.Motion</a></li>
    <li><a href="%BASE_URL%packages/observers/">Firelight.Observers</a></li>
    <li><a href="%BASE_URL%packages/task/">Firelight.Task</a></li>
    <li><a href="%BASE_URL%packages/virtualizer/">Firelight.Virtualizer</a></li>
  </ul>
</nav>
